@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
    display: inline-block;
}

.menu-link {
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 1.4px;
    text-align: right;
    color: #8c8c8c;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}

.menu-link-active {
    font-weight: 700;
    color: #212121;
    border-bottom: 3px solid #212121;
}

.menu-link:hover {
    color: #212121;
}

.slider-text {
    margin-top: 283px;
}

.slider-tranding {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #43a047;
    text-transform: uppercase;
}

.slider-h2 {
    font-size: 62px;
    font-weight: 100;
    color: #212121;
    text-transform: uppercase;
    margin: -10px 0px;
    letter-spacing: -3px;
    line-height: 72px;
}

.slider-content {
    width: 458px;
    font-size: 14px;
    line-height: 24px;
    color: #6c6c6c;
    clear: both;
    margin-top: 28px;
    margin-bottom: 28px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    border-radius: 22.5px;
    box-shadow: 0px 2px 4.9px 0.2px rgba(33, 33, 33, 0.35);
    background-color: #ffffff;
    text-transform: uppercase;
    width: 212px;
    height: 45px;
    display: inline-block;
    text-decoration: none;
    clear: both;
}

.button:hover {
    background-color: #212121;
    color: white;
}

.pagination {
    position: absolute;
    width: 1183px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #c7c7c7;
    display: inline-block;
    clear: both;
    margin: 5px
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    clear: both;
    margin-bottom: 0;
}

.circle:hover {
    background-color: #212121;
}

.content {
    width: 1388px;
    position: relative;
    clear: both;
}

.menu-cont {}

.menu-cont-list {
    float: left;
    margin-left: 90px;
    border-bottom: 1px solid #6c6c6c;
    padding-bottom: 3px;
    position: absolute;
}

.menu-cont-list2 {
    float: left;
    margin-left: 90px;
    padding-bottom: 3px;
    position: absolute;
}

.menu-product2 {
    list-style-type: none;
    margin-top: 50px;
}

.menunewfcontent {
    list-style-type: none;
    display: inline-block;
    margin-top: 120px;
}

.menu-link-fea {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
    text-decoration: none;
}

.menu-link-new {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #6c6c6c;
    text-decoration: none;
    padding-left: 25px;
}

.explore-all {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #212121;
    float: right;
    text-decoration: none;
    margin-top: 138px;
    margin-right: 119px;
    text-transform: uppercase;
}

.menunewfcontent a:hover {
    color: #212121
}

.menunewfcontent .menu-link-active:hover {
    color: #6c6c6c;
}

.explore-all:hover {
    color: #6c6c6c;
}

.product {
    width: 1388px;
    position: relative;
}

.tovary {
    position: absolute;
    width: 1388px;
    text-align: center;
    clear: both;
}

.menu-product {
    list-style-type: none;
    margin-top: 50px;
}

.tovar {
    display: inline-block;
    margin-right: 30px
}

.cart {
    position: absolute;
    z-index: 4
}

.img-hover {
    z-index: 3;
    position: relative;
    top: 0px;
    right: 0px;
    display: inline-block;
}

.link-tovar img:hover {
    z-index: 0;
    transition-duration: 1s;
    transition-delay: .2s;
}

.promo {
    display: inline-block;
    margin-top: 450px
}

.promo .promo-left {
    width: 683px;
    height: 683px;
    float: left;
    background-image: url(/img/promo-img1.jpg)
}

.promo .promo-right {
    width: 683px;
    height: 683px;
    float: left;
    background-image: url(/img/promo-img.jpg)
}

.promo-text {
    margin-top: 228px;
    padding-left: 30px
}

.promo-text .promo-exclusive {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #1e88e5;
    text-transform: uppercase;
}

.promo-text .promo-h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
    padding-bottom: 10px;
    text-transform: uppercase
}

.promo-text .promo-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    width: 400px;
    padding-bottom: 20px
}

.tovary2 {
    width: 1388px;
    text-align: center;
}

.slider2 {
    height: 700px;
    background-image: url(../img/slider2.jpg);
    position: relative;
    margin-top: 125px
}

.slider-text2 {
    margin-top: 150px;
}

.padding-site2 {
    padding-top: 120px;
    padding-left: 98px;
    padding-right: 98px;
}

.slider-hotdeal {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #e53935;
    text-transform: uppercase;
}

.slider3 {
    height: 450px;
    width: 450px;
    background-image: url(../img/product-1-lg.jpg);
    margin-top: 125px;
    float: left;
}

.slider-text3 {
    margin-top: 10px;
}

.padding-site3 {
    padding-top: 120px;
    padding-left: 98px;
    padding-right: 98px;
}

.slider-hotdeal {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #e53935;
    text-transform: uppercase;
}

.product3 {
    width: 576px;
    height: 576px;
    display: inline-block;
    float: left;
    position: absolute;
    margin-left: 600px;
    margin-top: -400px;
}

.promo-product2-left {
    float: left;
    display: inline-block;
}

.promo-product2-right {
    float: left;
    display: inline-block;
}

.slider3a {
    width: 1388px;
}

.menu-product3 {
    list-style-type: none;
    margin-top: 50px;
    display: inline-block;
    float: left;
}

.slider-exclusive {
    font-size: 18px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 1.8px;
    text-align: left;
    color: #1e88e5;
    text-transform: uppercase;
}

.s3 {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #212121;
}

.s3c {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    width: 330px;
}

.tabl3l {
    width: 250px;
    height: 250px;
    display: inline-block
}

.tabl3r {
    width: 250px;
    height: 250px;
    display: inline-block
}

.sl3 {
    width: 1366px;
    height: 576px;
    display: inline-block;
    position: relative;
}

.slider-text4 {
    background-image: url(../img/back-img.jpg);
    width: 1366px;
    height: 450px;
    margin-top: 200px;
    position: relative;
    
    
}

.mobile-app {
    padding-top: 50px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: 1.8px;
    text-align: left;
    color: rgb(108, 108, 108);
    text-transform: uppercase;
    margin-bottom: 5px;


}

.slider-h2-4 {
    font-size: 62px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    text-align: left;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    width: 600px;
    margin-bottom: 20px;
    
}

.slider-content-4 {
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: rgb(108, 108, 108);
    margin-bottom: 33px;

}

.buttonapp {
    border-image: url(../img/app-store.png);
    display: inline-block;
    text-decoration: none;
    clear: both;
}

.footer {
   width: 1366px;
    position: relative;
    display: inline-block;
}

.copyr {
    float: left;
    position: absolute;
}

.socialimg {
    width: 1366px;
    float: left;
    text-align: center;
}

.terms {
    width: 1366px;
    float: left;
    position: absolute;
    text-align: right;
}

.link {
    text-decoration: none;
}
